<!DOCTYPE html>
<html>
    <head>
        <% include ../lib/header %>
        <link href="/css/custom-theme/jquery-ui-1.10.3.custom.min.css?v=<%=css_version%>" rel="stylesheet" />
        <link href="/css/order_page.css?v=<%=css_version%>" rel="stylesheet" />
        <script src="/js/vendor/jquery.ui.widget.js"></script>  
        <script src="/js/vendor/jquery-ui.js"></script>  
        <script src="/js/vendor/jquery.iframe-transport.js"></script>  
        <script src="/js/vendor/jquery.fileupload.js"></script>  
        <script src="/js/order_page.js"></script>
    </head>
    <body class="page customer">
        <input type="hidden" id="cusInfoId" value="<%=cusInfoId%>" >
        <% include ../lib/toplink%>
        <% include ../lib/nav %>
        <div class="right_area">
            <div class="topBox">
                <div class="logoBox">LOGO</div>
                <div class="buttonBox">
                    <input class="text search" placeholder="搜索客户">
                    <div class="btnBlue" id="addCustomer">添加订单</div>
                </div>
            </div>
            <div class="toolBar">
            </div>
            <div class="bottom_line"></div>
            <div class="content">
                <ul class="orderList">
                </ul>
            </div>
        </div>
        <% include ../lib/footer %>
    </body>
</html>
