<!DOCTYPE html>
<html>
    <head>
        <% include lib/header %>
        <link rel="stylesheet" href="/css/photos.css">
    </head>
    <body class="page image_libs">
        <% include lib/user_toplink%>
        <% include lib/user_nav %>
        <div class="right_area">
            <div class="topBox">
                <div class="logoBox">LOGO</div>
                <div class="buttonBox">
                    <div class="btnBlue">添加照片</div>
                </div>
            </div>
            <div class="toolBar">
            </div>
            <div class="bottom_line"></div>
            <div class="content">
                <ul class="photoList">
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                    <li class='photo'>
                        <div class="imgBox">
                            <img src="/photo/5285c19e0ab0b0c936000008/52860a818a38454039000047?type=fill">
                        </div>
                        <div class="date">2012-12-11</div>
                    </li>
                </ul>
            </div>
        </div>
        <% include lib/footer %>
    </body>
</html>
