<!DOCTYPE html>
<html>
    <head>
        <% include lib/header %>
        <link href="/css/image_module.css" rel="stylesheet"/>
        <script src="/js/vendor/jquery.ui.widget.js"></script>  
        <script src="/js/vendor/jquery-ui.js"></script>  
        <script src="/js/vendor/jquery.iframe-transport.js"></script>  
        <script src="/js/vendor/jquery.fileupload.js"></script>  
        <script src="/js/image_module.js"></script>
    </head>
    <body class="page image_module">
        <% include lib/toplink%>
        <% include lib/nav %>
        <div class="right_area">
            <div class="topBox">
                <div class="logoBox">LOGO</div>
                <div class="buttonBox">
                    <div class="btnBlue add">添加模板</div>
                </div>
            </div>
            <div class="toolBar">
            </div>
            <div class="bottom_line"></div>
            <div class="content">
                <div id="addBox" class="addBox">

                </div>
                <ul class="list moduleList">
                </ul>
            </div>
        </div>
        <% include lib/footer %>
    </body>
</html>
