<!DOCTYPE html>
<html>
    <head>
        <% include lib/header %>
        <link href="/css/custom-theme/jquery-ui-1.10.3.custom.min.css?v=001" rel="stylesheet">
        <script src="/js/vendor/jquery-ui.js"></script>
        <script src="/js/common.js"></script>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100550929" data-redirecturi="http://makejs.com/test" charset="utf-8"></script>
    </head>
    <body class="page customer">
        <span id="qqLoginBtn"></span>
        <script type="text/javascript">
                QC.Login({
                       btnId:"qqLoginBtn"   //插入按钮的节点id
                       });
                   </script>
    </body>
</html>
