<!DOCTYPE html>
<html>
    <head>
        <% include lib/header %>
        <link rel="stylesheet" href="/css/login_register.css" />
        <script src="/js/login_register.js"></script>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100550929" data-redirecturi="http://makejs.com/login" charset="utf-8"></script>

    </head>
    <body class="login">
        <form class="infoBox" >
            <p><label>用户名</label></p>
            <p><input id="username" class="text"/></p>
            <p><label>密码</label></p>
            <p><input id="pass" class="text" type="password" /></p>
            <p class="btnBox">
                <input class="btnSmall" type="button" id="login" value="登 录" />
                <input class="btnSmall" type="button" id="cancel" value="取 消" />
            </p>
            <p>
                <span id="qqLoginBtn"></span>
                <script type="text/javascript">
                    QC.Login({
                       btnId:"qqLoginBtn"   //插入按钮的节点id
                    });
                </script>
            </p>
        </form>
        <% include lib/footer %>
    </body>
</html>
