<div class="nav">
    <div class="page_title"><%=title%></div> 
    <div class="bottom_line"></div>
    <%var d=[ {name:"客户管理",href:"/b/customer"}, {name:"模板管理",href:"/b/image_module"}, {name:"日程表",href:"/b/calendar"},{name:"工作室设置",href:"/b/studio_set"},{name:"提醒",herf:"/abc"}];%>
    <ul class="nav_list">
        <%for(var i=0;i<d.length;i++){var temp=d[i];%>
            <li <%if(title==temp.name){%>class="on"<%}%>><a href="<%=temp.href%>"><%=temp.name%></a></li>
        <%}%>
    </ul>
</div>
