<div class="nav">
    <div class="page_title">纽约时报</div> 
    <div class="bottom_line"></div>
    <ul class="nav_list">
        <li><a>健康</a></li>
        <li><a>国际生活</a></li>
        <li><a>时尚</a></li>
        <li><a>关注我们</a></li>
        <li><a>国际总览</a></li>
        <li><a>意见反馈</a></li>
        <li><a>广告中心</a></li>
    </ul>
</div>
