<div class="toplink">
    <ul class="links">
        <li><a>关注我们</a></li>
        <li><a>联系我们</a></li>
        <li><a>意见反馈</a></li>
        <%if(locals.user){%>
            <li><a><%=user.name%></a></li>
        <%}%>
    </ul>
</div>
