<div class="toplink">
    <ul class="links">
        <li><a>Ьсаб</a></li>
        <li>
            <%if(locals.user){%>
                <a><%=user.name%></a>
            <%}%>
        </li>
    </ul>
</div>
