<div class="toplink">
    <ul class="links">
        <li><a href="/b/customer">工作室操作</a></li>
        <%if(locals.user){%>
            <li> <a href="/userset"><%=user.name%></a> </li>
            <li> <a href="/logout">退出</a> </li>
        <%}%>
    </ul>
</div>
