<div class="toplink">
    <ul class="links">
        <li><a href="/b/customer">工作室操作</a></li>
        <li><a href="/contact_us">联系我们</a></li>
        <li><a href="/feedback">意见反馈</a></li>
        <%if(locals.user){%>
            <li><a><%=user.name%></a></li>
        <%}%>
    </ul>
</div>
