<div class="nav">
    <div class="page_title"><%=title%></div> 
    <div class="bottom_line"></div>
    <%var d=[  {name:"相册",href:"/photos"},{name:"选片",href:"/select_photos"}, {name:"个人信息",href:"/profile"},  {name:"提醒",herf:"/remind"}];%>
    <ul class="nav_list">
        <%for(var i=0;i<d.length;i++){var temp=d[i];%>
            <li <%if(title==temp.name){%>class="on"<%}%>><a href="<%=temp.href%>"><%=temp.name%></a></li>
        <%}%>
    </ul>
</div>
