.topBox .search{
    float:right;
    margin:2px 0 0 50px;
    width:200px;
    height:20px;
    line-height:20px;
    font-size:12px;
}
.addCustomerBox{
    width:530px;
}
.addCustomerBox .boyBox,
.addCustomerBox .girlBox,
.addCustomerBox .otherMessage{
    width:270px;
    margin-top:15px;
    float:left;
}

.addCustomerBox .otherInfo{
    width:250px;
    height:100px;
}
.addCustomerBox .text{
    margin-top:5px;
}
.addCustomerBox .select{
    float:left;
    border: 1px solid #CCC;
    background-color: #FFF;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.addCustomerBox .select option{
    display:block;
    height:24px;
}
.text.searchCusInput{
    width:100%;
    font-size:12px;
}
.searchList{
    float: left;
    width: 100%;
    margin-top: 5px;
}
.add{
    float:right;
}
.toolBar .td{
    width:20%;
    color:#fff;
    cursor:default;
}
.content .girl{
    color:#F627FF;
}
.content .boy{
    color:#09f;
}
.content .bname,
.content .gname{
    padding:0 10px;
}
.toolBar .td,
.content .td{
    float:left;
    height:30px;
    line-height:30px;
}
.content .td{
    width:120px;
    height:35px;
    line-height:35px;
}
.toolBar .name{
    margin-left:10px;
}
.toolBar .name,
.content .name{
    width:100px;
    padding-left:20px;
}
.toolBar .qq,
.content .qq{
    width:120px;
}
.toolBar .tel,
.content .tel{
    width:150px;
}
.toolBar .email,
.content .email{
    width:150px;
}
.toolBar .play,
.content .play{
    width:240px;
}
.content .play a.active{
    color:#666;
    font-weight:bold;
}
.content .play a{
    font-size:12px;
    color:#aaa;
    padding:0 5px;
    display:block;
    width:50px;
    text-align:center;
    float:left;
}
.content .play a:hover{
    color:#333;
}
.content .list{
    float:left;
    width:800px;
    min-height:300px;
}
.list li{
    width:100%;
    float:left;
    line-height:35px;
    border-bottom:1px solid #ddd;
}
.list li:hover{
    background:#f5f5f5;
}

.inputBox{position:relative;}
.typeTab{position:absolute;right:3px;height:24px;line-height:24px;font-size:14px;color:#888;}

.product{
    width:800px;
    height:400px;
}
.product .allProduct,
.product .cusProduct{
    width:370px;
    height:480px;
    border:1px solid #ddd;
    border-radius:5px;
}
.product .allProduct{
    float:left;
}
.product .allProduct .pList{
    overflow-y: scroll;
    height: 480px;
}
.product .pList .thu img{
    max-width:100%;
    max-height:100%;
}
.product .pList .thu{
    float:left;
    width:70px;
    height:70px;
}
.product .pList .remove,
.product .pList .add{
    margin-top:5px;
    position:absolute;
    right:5px;
    top:0px;
    font-size:12px;
    height:18px;
    line-height:18px;
}
.product .pList .name,
.product .pList .size,
.product .pList .description{
    font-size:12px;
    float:left;
    width:260px;
    margin-left:5px;
    margin-bottom:5px;
}
.product .cusProduct{
    float:right;
}
.productLi{
    position:relative;
    width:345px;
    float:left;
    padding:5px 0;
    border-bottom:1px solid #eee;
    margin-left:5px;
}

.countBox{
    position:absolute;
    top:0;
    margin-top:5px;
    right:55px;
}
.countBox .subOne,
.countBox .addOne{
    float:left;
    width:16px;
    height:16px;
    border:1px solid #ddd;
    border-radius:3px;
    text-align:center;
}
.countBox input{
    float:left;
    width:20px;
    margin:0 5px;
    height:16px;
    line-height:16px;
    text-align:center;
    font-size:12px;
    border:1px solid #ddd;
    border-radius:3px;
}

