.libsBox{width:980px;margin:0 auto;}
.libsBox .lib{float:left;width: 100%; height: 45px; border-bottom: 1px solid #DDD; line-height: 45px;}
.libsBox .bar{float:right;}
.libsBox .bar .btnSmall{display:inline-block;text-align:center;margin-left:15px;}
