.moduleList{
    float:left;
    width:810px;
}
.content{
    position:relative;
}
.content .addBox{
    width:810px;
    text-align: center;
    background: #FAFAFA;
    height:100px;
    float:left;
    padding-bottom:10px;
    display:none;
}
.content .inputBox{
    width:380px;
    overflow:hidden;
    margin:40px auto;
}
.content .inputBox .lab_name{
    float:left;
    line-height:30px;
    padding:0 10px;
}
.content .inputBox .text{
    margin-right:5px;
    width:210px;
}
.content .inputBox .btnBlue{
    margin-left:5px;
}
.moduleList li{
    position:relative;
    float:left;
    padding:20px 0;
    float:left;
    border-bottom:1px solid #ddd;
    width:100%;
}
.module .editInput{
}
.imgBox{
    float:left;
    width:150px;
    height:150px;
    line-height:150px;
    text-align:center;
    background:#ddd;
    cursor:pointer;
    position:relative;
}
.imgBox img{
    max-width:100%;
    max-height:100%;
}
.imgBox .imageEdit{
    position:absolute;
    top:5px;
    right:5px;
    background:#666;
    width:20px;
    height:20px;
    text-indent:300px;
    overflow:hidden;
    cursor:pointer;
    border:none;
}
.rightBox{
    float:left;
    width:600px;
    margin-left:10px;
}
.rightBox .name{
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    width:100%;
}
.rightBox .size{
    margin-top:5px;
    width:100%;
    float:left;
}

.rightBox .description{
    margin-top:20px;
    width:100%;
    float:left;
}
.btnBar{
    position:absolute;
    right:0;
}
.btnBar .edit,
.btnBar .delete{
    margin-left:5px;
}
