.overDiv{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250,1);
    z-index:9999;
    position:absolute;
}
.top{
    z-index:9999999;
}
.topBox .search{
    float:right;
    margin:2px 0 0 50px;
    width:200px;
    height:20px;
    line-height:20px;
    font-size:12px;
}
.content .list{
    margin-top:150px;
    float:left;
    width:200px;
    min-height:300px;
}
.imageList .photo{
    border:1px solid #ddd;
    margin:10px auto;
    width:190px;
}
.imageList .imgBox{
    width:180px;
    margin:10px auto;
    position:relative;
}
.imageList .nameBox{
    height:30px;
    padding:0 7px;
}
.imageList .overBox{
    position:absolute;
    top:0;
    left:0px;
}
.photo img{
    width:100%;
}
.nameBox .sign{
    margin:0 2px;
    width:22px;
    height:16px;
    line-height:16px;
    padding:2px;
}

.content{
    padding-top:100px;
}
.signList{
    float:right;
}
.signList .sign.fa{
    background:green;
}
.productBox{
    background:rgba(230,230,230,0.8);
    width:805px;
    position:absolute;
    top:0;
    z-index:999;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border:1px solid #ddd;
    border-top:none;
}
.pageSS .next,.pageSS .prev{
    width:80px;
}
.productBox .signList{
    position:absolute;
    bottom:-45px;
    right:0px;
}
.productBox .signList .sign{
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    margin:0 3px;
}
.productBox .prev,
.productBox .next{
    float:left;
    width:40px;
    height:150px;
    position:relative;
}

.productBox .prev i,
.productBox .next i{
    position:absolute;
    top:50%;
    left:50%;
    font-size:32px;
    margin-left:-16px;
    margin-top:-16px;
    width:32px;
    height:32px;
    text-align:center;
}

.productBox .overFlowDiv{
    width:725px;
    overflow:hidden;
    float:left;
}
.productBox.slide{
    border:1px solid #333;
    background:rgba(50,50,50,0.8);
}
.productBox.slide .headImage,
.productBox.slide .sign{
    border-color:#666;
}
.productBox.slide .count{
    background:rgba(50,50,50,0.8);
    color:#aaa;
}
.productList{
    width:1000px;
    text-align: center;
    padding:5px 0;
    overflow:hidden;
}
.productList li{
    position:relative;
    width:135px;
    margin:0 5px;
    overflow:hidden;
    float:left;
}
.productLi .headImage{
    width:100px;
    max-height:130px;
    float:left;
    border:1px solid #ddd;
    border-radius:5px;
    border-top-right-radius:0;
}

.productList .sign{
    width:30px;
    height:40px;
    line-height:40px;
    font-size:40px;
    color:#fff;
    text-align:left;
    float:left;
    border:1px solid #ddd;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin-left:-1px;
    border-left:none;
    background:#09f;
}
.productLi .count{
    color: #666;
    font-size: 24px;
    float: left;
    margin-top: -31px;
    width: 100px;
    height: 30px;
    background: rgba(255,255,255,0.8);
    margin-left: 1px;
    line-height: 30px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.productLi .name{
    width:100px;
    height:24px;
    line-height:24px;
    font-size:14px;
    color: #666;
}
/*888888888888888888888888888*/
.content .photo .over:hover .close{
    display:block;
}
.content .photo .over .close{
    display:none;
    position:absolute;
    top:0px;
    right:0;
    width:16px;
    height:16px;
    background:blue;
    font-size:14px;
    line-height:14px;
}
.content .photo .overBox{
    position:absolute;
    top:50%;
    margin-top:-40px;
    background:rgba(50,50,50,0.8);
    height:80px;
}
.content .photo .over{
    position:relative;
    width:60px;
    line-height:80px;
    color:#fff;
    font-size:80px;
    float:left;
}
.content .thu{
    overflow: hidden;
    text-align: center;
    float: left;
    position:relative;
    margin:0 5px;
    
}

.content .thu .signList{
    position:absolute;
    top:5px;
    left:5px;
}
.content .thu .signList li{
    display: inline-block;
    width: 24px;
    height: 24px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    margin:0 2px;
    line-height:24px;
}
.content .thu img{
    width:100%;
    max-width:100%;
    max-height:100%;
}

.proName{
    font-size:12px;
    color:black;
    float:left;
}
.ui-progressbar.progress{
    height:15px;
    line-height:15px;
}
.cancel{
    font-size:12px;
    float:right;
    line-height:15px;
}
.content{
    position:relative;
}

